/**
共通するベースのCSSです。
ここだけタグに超苦節指定する。
*/

body {
    color: #222222;
    font-family: serif;
    text-decoration: none;
}
.noscroll {
    overflow: hidden;
}
img {
    max-width: 100%;
}
section {
    padding: 60px 0 60px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

@media screen and (max-width: 760px) {

    section {
        padding: 40px 0 40px;
    }
}